<!-- navbar container with page specific links -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#">HabiDaily</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <!-- link to weekly progress page -->
        <a class="nav-link" href="/week">Weekly Status</a>
      </li>
      <!-- link for habits list -->
      <li class="nav-item">
        <a class="nav-link active" href="#hab">Habits</a>
      </li>
    </ul>
  </div>
</nav>
<!-- main content starts -->
<main>

  <!-- jumbotron container -->
  <div class="jumbotron">
    <h1 class="display-4">HabiDaily</h1>
    <p class="lead">
      HabiDaily is a simple online habit tracking application that tracks
      your habits and helps in unlocking your true potential.Track your habits in just 3 easy steps.
    <h5> Get Started Now!!</h5>
    </p>
    <hr class="my-4" />
    <p>
    <h5>How it Works?</h5>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">1. Add your Habit</li>
      <li class="list-group-item">2. Add a short description of your habit</li>
      <li class="list-group-item">3. Check your Weekly Progress</li>
    </ul>

    </p>
    <h5> Already added? Awesome! click below to check your weekly progress. </h5>
    <!-- link to weekly progress page -->
    <a class="btn btn-primary btn-info" href="/week" role="button">Weekly Progress</a>
  </div>
  <!-- container for form -->
  <div class="container-fluid d-flex justify-content-center">

    <!-- form to post habits to controller  -->
    <form action="/habit" method="POST">
      <div class="form-group">
        <label for="habit">Habit</label>
        <input type="text" class="form-control form-control-lg" id="habit" placeholder="Add your goal" name="title"
          required>
      </div>
      <div class="form-group">
        <label for="habit-desc">Description</label>
        <textarea class="form-control form-control-lg" id="habit-desc" rows="1" name="subtitle"
          placeholder="Add some description" required></textarea>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-info btn-lg">Commit</button></div>
    </form>

  </div>
  <hr class="my-4" />
  <div class="container d-flex justify-content-md-center">
    <h1 class="display-3">Your Habits</h1>
  </div>
  <hr class="my-4" />
  <!-- container to display list of added habits by user -->
  <div class="container d-flex flex-wrap justify-content-md-center align-items-center flex-fill" id="hab">
    <!-- loop through all habits passed  -->
    <% for(let i of habits) { %>

    <!-- card container to display particular habit details -->
    <div class="card text-center flex-fill" style="margin: .2rem;">
      <div class="card-header ">
        <span class="lead"><span class="badge badge-info"> <%=i.dailycount%> / 7</span></span>

      </div>
      <div class="card-body">
        <h5 class="card-title"><%=i.title%></h5>
        <p class="card-text"><%=i.subtitle%></p>
        <a href="/delete/<%=i.id%>" class="btn btn-danger btn-sm">Remove</a>
      </div>
      <div class="card-footer text-muted">
        Created
        <%=new Date().getDate()-i.created.getDate()%> days ago
      </div>
    </div>



    <% } %>



  </div>
</main>